DATABASE_URL= #mysql://user:password@host:port/db_name
NEXTAUTH_SECRET=jk5ExsXfKrcbZny7b+xUVwGWLbIFo7Oqy3Qb9gosgV8= #random string, you can generate one with `openssl rand -base64 32`
NEXTAUTH_URL= #url website 
NODE_ENV= #"development" or "production"